<div class="card shadow-sm" style="width: 350px;">
            <div class="card-body p-4">
                <h3 class="card-title text-center mb-4">Navi3 Giriş</h3>
                <div class="mb-3">
                    <label for="login-email" class="form-label">E-posta Adresi</label>
                    <input type="email" class="form-control" id="login-email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Şifre</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="d-grid">
                    <button id="login-button" class="btn btn-primary">Giriş Yap</button>
                </div>
                <p id="login-error" class="text-danger mt-3 text-center"></p>
                <div class="text-center mt-3">
                    <a href="#" id="show-register-link">Hesabınız yok mu? Kayıt Olun</a>
                </div>
            </div>
        </div>